.wrapper {
  padding: 20px 0 0;
  h1, h3, a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }
  h1, h2 {
    font-size: 40px;
    font-weight: normal;
    color: lightcoral;
  }
  h2 {
    font-size: 20px;
  }
  :global {
    .repo a {
      font-weight: lighter;
      font-size: 16px;
      color: lightsalmon;
      text-decoration: none;
    }
    .blog a {
      font-weight: lighter;
      font-size: 12px;
      color: lightblue;
      text-decoration: none;
    }
  }
}
